<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
</head>
<body>
    {% extends 'myapp/base.html' %}

    {% block content111 %}
        <form method="post" action="{% url 'myusers:my_register' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button name="submit"> 注册 </button>
            <input type="hidden" name="next" value="{%url 'myapp:index' %}" />
        </form>
    {% endblock content111 %}
</body>
</html>