<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北斗纽扣数据列表</title>
</head>
<body>
    {% extends 'myapp/base.html' %}

    {% block content111 %}
    <h2>北斗纽扣接收到的数据列表</h2>
    <table border="0">
        <caption>lat  |  long  |  locate_mode  |  bat  |  si  |  elapse</caption>
        {% for bdnkitem in bdnk_datas %}
            <tr>
                <td>{{bdnkitem.lat}}</td>
                <td>{{bdnkitem.long}}</td>
                <td>{{bdnkitem.locate_mode}}</td>
                <td>{{bdnkitem.bat}}</td>
                <td>{{bdnkitem.si}}</td>
                <td>{{bdnkitem.elapse}}</td>
            </tr>
        {% empty %}
            <li>
                还没有这个主题的文章
            </li>
        {% endfor %}
    </table>
    {% endblock content111 %}
</body>
</html>