<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是myapp</title>
</head>
<body>
    {% extends "myapp/base.html" %}

    {% block content111 %}
        <p>
            这是我用Django自建一个网页应用，用于记录自己的学习内容。
        </p>
        <ul>
            <li><a href="{% url 'myapp:bdnk_data_set' %}"> 北斗纽扣测试 </a></li>
            <li><a href="{% url 'myapp:bdnk_data_list' %}"> 北斗纽扣上传数据查看 </a></li>
            <li><a href="{% url 'myapp:bdnk_device_register' %}"> 北斗纽扣设备注册 </a></li>
            <li><a href="{% url 'myapp:test_set_form' %}"> 北斗纽扣设备参数设置 </a></li>
        </ul>
    {% endblock content111 %}
</body>
</html>