<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
</head>
<body>
    <form action="/test_set" method="get">
        <input type="text" name="q">
        <input type="submit" value="搜索">
    </form>

    <form action="/example/html/form_action.asp" method="get">
        <p>Email: <input type="text" name="email" /></p>
        <p>Pin: <input type="text" name="pin" maxlength="18" /></p>
        <input type="submit" value="Submit" />
    </form>

    <form action="">
        <fieldset>
        <legend>Personal information:</legend>
            Name: <input type="text" size="30"><br>
            E-mail: <input type="text" size="30"><br>
            Date of birth: <input type="text" size="10">
            <br>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>

</body>
</html>